* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #222;
  height: 100vh;
  color: #eee;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
}

.site-title {
  color: cadetblue;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 3rem;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  height: 55vh;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  max-width: 400px;
}

.form-item-label {
  font-size: 1.25rem;
  font-family: inherit;
  margin-right: 0.7em;
}

.form-item-input {
  border: none;
  float: right;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  padding: 0.5em 0.5em;
  width: 60%;
  border-radius: 5px;
  background: rgb(15, 15, 15);
  transition: all 0.3s;
  outline: none;
  font-weight: 600;
}

.form-item-input:hover {
  transform: scale(1.05);
}

.form-item-input:focus {
  background: #ccc;
  color: #444;
}

.btn {
  border: none;
  padding: 0.5em 1.3em;
  border-radius: 5px;
  font-family: inherit;
  transition: all 0.3s;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background: #111;
  color: yellowgreen;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

#submit-btn {
  font-size: 1.25rem;
  width: 100%;
  margin-top: 1.5em;
  margin-left: auto;
}

#submit-btn:hover,
#submit-btn:focus {
  transform: scale(1.1);
  background: yellowgreen;
  color: #111;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitted-title {
  margin-bottom: 0;
}

.display-text {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 1.2rem;
}

.link {
  border: none;
  text-decoration: none;
  padding: 0.5em 1.3em;
  border-radius: 5px;
  transition: all 0.3s;
  display: block;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #eee;
}

.link:hover,
.link:focus {
  background: #eee;
}

.lab-link {
  background: salmon;
}

.lab-link:hover,
.lab-link:focus {
  color: salmon;
}

.main-link {
  background: yellowgreen;
  margin-top: 1.5em;
}

.main-link:hover,
.main-link:focus {
  color: yellowgreen;
}

.clear-btn {
  border-radius: 0;
  font-size: 1.25rem;
  color: salmon;
  position: absolute;
  top: 100%;
  width: 100%;
  transform: translateY(-100%);
}

.clear-btn:hover,
.clear-btn:focus {
  color: #eee;
  background: red;
}
